.serviceParentTop{
    display: flex;
    flex-direction: row;
    color: blue;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    

}

.leftBorder{
    width: 1%;
    background-color: rgba(29,49,85,255);
}

.serviceParent{
    width: 98%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

@media (max-width: 584px){
    .header {
      height: 5% !important;
    }
  }
.header{
    height: 20%;
    background-color: rgba(238,238,240,255);
    display: flex;
    flex-direction: row;
    

}

.headerTitle{
    width: 60%;
    background-color: rgba(238,238,240,255);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
    font-weight: bold;
    color: rgba(29,49,85,255);
}

.blueBox{
    min-width: 200px;
    width: 25%;
    background-color: rgba(31,103,138,255);
}

@media (max-width: 584px){
    .greyBox {
      display: none !important;
    }
  }



.greyBox{
    width: 15%;
    background-color: rgba(238,238,240,255);
}
@media (max-width: 584px){
    .emptyRowWhite{
      height: 2.5% !important;
    }
  }

.emptyRowWhite{
    height: 15%;
    background-color: white;

}

.emptyRowWhite1{
    height: 1%;
    background-color: white;

}

@media (max-width: 584px){
    .imageHolder{
        flex-direction: column !important;
        height: 90% !important;
        justify-content: space-between !important;
        align-items: center;
    }
  }

.imageHolder{
    height: 55%;
    color: rgba(29,49,85,255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.image{
    width: 20%;
}


.whiteFooter{

    height: 9%;
    background-color: white;
}


.rightBorder{
    width: 1%;
    background-color: rgba(29,49,85,255)
}

